@model Application.ViewModels.ReturnViewModel

@{
    ViewData["Title"] = "Return Book";
}

<div class="card">
    <div class="card-header">
        <strong>@Model.BookTitle</strong>
    </div>
    <div class="card-body">
        <form id="modalForm" method="post" class="needs-validation"
              data-ajax-url="@Url.Action(nameof(BorrowController.Return), nameof(BorrowController).Replace("Controller", ""))"
              data-table-refresh-url="@Url.Action(nameof(BooksController.GetBooksTable), nameof(BooksController).Replace("Controller", ""))">
            
              <input type="hidden" asp-for="BorrowRecordId" />
              <p><strong>Borrower Name:</strong> @Model.BorrowerName</p>
              <p><strong>Borrow Date:</strong> @Model.BorrowDate?.ToString("yyyy-MM-dd HH:mm:ss")</p>

        @* <form asp-action="Return" method="post">
            <button type="submit" class="btn btn-success">Confirm Return</button>
            <a asp-action="Index" asp-controller="Books" class="btn btn-secondary">Cancel</a>*@
        </form> 
    </div>
</div>
